// card 1
$color-primary-card-1: #025464;
$color-secondary-card-1: #e57c23;
$color-tertiary-card-1: #e8aa42;

// card 2
$color-primary-card-2: #539165;
$color-secondary-card-2: #3f497f;
$color-tertiary-card-2: #f7c04a;

// card 3
$color-primary-card-3: #845460;
$color-secondary-card-3: #ead3cb;
$color-tertiary-card-3: #2b4f60;
